<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{type == 'signin' ? 'Sign in' : type == 'signup' ? 'Sign up' : 'Hospital Signup'}}</ion-title>
    <ion-buttons slot="start" *ngIf="type =='signin'">
      <ion-menu-button color="light" menuId="leftMenu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="type =='hospitalSignup' || type =='signup'">
      <ion-back-button defaultHref="['/signin/signin']"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="background-image: url('https://cdn.pixabay.com/photo/2019/09/28/10/38/medical-4510408__340.png');">
    <ion-card style="top: 10%;width: 56%;left: 21%;" [hidden]="type == 'signup' || type == 'hospitalSignup'">
      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="floating">Email Id</ion-label>
            <ion-input type="text" name="email" #email email required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="pass" #pass required></ion-input>
          </ion-item>
          <ion-button (click)="signin(email,pass)">Submit</ion-button>
          <ion-button type="reset" (click)="reset()">Reset</ion-button>
          <ion-button [routerLink]="['/signin/signup']">Sign up</ion-button>
          <ion-button [routerLink]="['/signin/hospitalSignup']">Hospital Sign up</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card style="top: 10%;width: 56%;left: 21%;" [hidden]="type == 'signin' || type == 'hospitalSignup'">
      <ion-card-content>
        <form #signupForm="ngForm">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" name="username" #username="ngModel" [(ngModel)]="userDetails.username" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Country</ion-label>
            <ion-input type="text" name="country" #country="ngModel" [(ngModel)]="userDetails.country" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-input type="text" name="city" #city="ngModel" [(ngModel)]="userDetails.city" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">District</ion-label>
            <ion-input type="text" name="district" #district="ngModel" [(ngModel)]="userDetails.district"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Zipcode</ion-label>
            <ion-input type="text" name="zipcode" #zipcode="ngModel" [(ngModel)]="userDetails.zipcode"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Phone number</ion-label>
            <ion-input type="number" name="phone" #phone="ngModel" [(ngModel)]="userDetails.phone" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email Id</ion-label>
            <ion-input type="text" name="email" #email="ngModel" [(ngModel)]="userDetails.emailid" email required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="pass" #pass="ngModel" [(ngModel)]="userDetails.password" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" name="address" #address="ngModel" [(ngModel)]="userDetails.address" required>
            </ion-input>
          </ion-item>
          <ion-button (click)="userSignup(signupForm)">Submit</ion-button>
          <ion-button type="reset">Reset</ion-button>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-card style="top: 10%;width: 56%;left: 21%;" [hidden]="type == 'signin' || type == 'signup'">
      <ion-card-content>
        <form #doctorForm="ngForm">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" name="name" #name="ngModel" [(ngModel)]="hospitalDetails.name" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Image URL</ion-label>
            <ion-input type="text" name="image" #image="ngModel" [(ngModel)]="hospitalDetails.image" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Country</ion-label>
            <ion-input type="text" name="country" #country="ngModel" [(ngModel)]="hospitalDetails.country" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">City</ion-label>
            <ion-input type="text" name="city" #city="ngModel" [(ngModel)]="hospitalDetails.city" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Specialize</ion-label>
            <ion-input type="text" name="specialize" #specialize="ngModel" [(ngModel)]="hospitalDetails.specialize"
              required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Insurance support</ion-label>
            <ion-input type="text" name="insuranceSupport"
              placeholder="If you don't have any insurance support just right no" #insuranceSupport="ngModel"
              [(ngModel)]="hospitalDetails.insuranceSupport" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Zipcode</ion-label>
            <ion-input type="number" name="zipcode" #zipcode="ngModel" [(ngModel)]="hospitalDetails.zipcode">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Registration number</ion-label>
            <ion-input type="number" name="registrationNumber" #registrationNumber="ngModel"
              [(ngModel)]="hospitalDetails.registrationNumber" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Phone number</ion-label>
            <ion-input type="number" name="phone" #phone="ngModel" [(ngModel)]="hospitalDetails.phone" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email Id</ion-label>
            <ion-input type="text" name="email" #email="ngModel" [(ngModel)]="hospitalDetails.emailid" email required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="pass" #pass="ngModel" [(ngModel)]="hospitalDetails.password" required>
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input type="text" name="address" #address="ngModel" [(ngModel)]="hospitalDetails.address" required>
            </ion-input>
          </ion-item>
          <ion-button (click)="hospitalSignup(doctorForm)">Submit</ion-button>
          <ion-button type="reset">Reset</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>