<ion-app>
  <ion-menu side="start" type="push" contentId="main" menuId="leftMenu">
    <ion-header>
      <ion-toolbar color="success" class="ion-text-center">
        <ion-text>
          Right menu
        </ion-text>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle style="cursor: pointer;">
        <ion-list>
          <ion-item [routerLink]="['/home']">
            <ion-icon color="success" name="home-outline"></ion-icon> &nbsp;&nbsp;
            <ion-label>Home</ion-label>
          </ion-item>
          <!-- <ion-item *ngIf="userCredential.UID" [routerLink]="['/userprofile']">
            <ion-icon color="success" name="person-outline"></ion-icon> &nbsp;&nbsp;
            <ion-label>User profile</ion-label>
          </ion-item> -->
          <ion-item *ngIf="userCredential.UID" [routerLink]="['/booked-appointment']">
            <ion-icon color="success" name="calendar-outline"></ion-icon> &nbsp;&nbsp;
            <ion-label>Booked Appointment</ion-label>
          </ion-item>
          <ion-item *ngIf="userCredential.hospitalUID" [routerLink]="['/add-doctor','add']">
            <ion-icon color="success" name="add-outline"></ion-icon> &nbsp;&nbsp;
            <ion-label>Add doctor</ion-label>
          </ion-item>
          <ion-item *ngIf="userCredential.hospitalUID" [routerLink]="['/add-doctor','edit']">
            <ion-icon color="success" name="create-outline"></ion-icon> &nbsp;&nbsp;
            <ion-label>Edit doctor</ion-label>
          </ion-item>
          <ion-item *ngIf="userCredential.UID" (click)="userLogout()">
            <ion-icon color="danger" name="person-remove-outline"></ion-icon>&nbsp;&nbsp;
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>