<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <ion-text>Health service</ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/signin/signin']">
        <ion-icon name="person-circle-outline" size="large"></ion-icon>
      </ion-button>
      <ion-menu-button color="light" menuId="rightMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="filteringSearch($event)" showCancelButton="focus"
    cancelButtonText="Custom Cancel" animated=true placeholder="Hospital name,location,specilization"></ion-searchbar>
</ion-header>

<ion-content>
<ion-calendar [(ngModel)]="dateRange" [options]="optionsRange" [type]="type" [format]="'YYYY-MM-DD'" (change)="onChange($event)">
</ion-calendar>
  
  <!-- <ion-card  style="cursor: pointer;" *ngFor="let hospital of hospitals" [routerLink]="['/doctor-list',hospital.id,hospital.name]">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size-sm="2" size-md="2" size-xl="2" size-lg="2">
            <img src={{hospital.image}} width="500px" height="150px">
          </ion-col>
          <ion-col size-sm="10" size-md="10" size-xl="10" size-lg="10">
            <ion-label color="success">Name :</ion-label> &nbsp;
            <ion-text>{{hospital.name}}</ion-text><br><br>
            <ion-label color="success">Address :</ion-label> &nbsp;<ion-text>{{hospital.location}}</ion-text><br><br>
            <ion-label color="success" *ngIf="hospital.specialize != ''">Specialize :</ion-label>&nbsp;<ion-text>
              {{hospital.specialize}}</ion-text><br><br>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->

</ion-content>